{% extends 'blog/base.html' %}

{% block content %}
<div class="container_1">
    <h1 class="title_1">Hello, welcome to the about page! Here is the information you must know:</h1>
    <p class="description_1">
        Welcome to our blog app! Our blog allows you to read and interact with posts created by our community.
        Here's what you can do:
    </p>
    <ol class="list_1">
        <li><b>Read Posts:</b> Explore a variety of posts covering different topics such as technology,
            lifestyle, and more. Each post contains valuable information, stories, or insights shared by our authors.</li>
        <li><b>Leave Comments:</b> Share your thoughts and opinions by leaving comments on posts. Engage in discussions
            with other users and the authors themselves. Your comments contribute to the vibrant community around our blog.</li>
        <li><b>Publish Your Own Posts:</b> If you're passionate about a topic and have something to share, you can become a contributor
            and publish your own posts. Share your knowledge, experiences, or stories with our audience.</li>
        <li><b>Interact with Authors:</b> Connect with the authors of the posts you enjoy. Follow their profiles
            to stay updated on their latest contributions and engage with them directly through comments and messages.</li>
        <li><b>Discover New Content:</b> Our blog is constantly updated with fresh content. Explore new posts regularly to
            discover interesting topics, learn new things, and connect with like-minded individuals.</li>
    </ol>
</div>
{% endblock %}
